name: test
on: [push, pull_request]

jobs:
  test:
    strategy:
      matrix:
        os:
          - 'ubuntu-latest'
          - 'windows-latest'
          - 'macos-latest'
        go:
          - '1.13'
          - '1.14'
          - '1'
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
        with:
          path: src/github.com/shogo82148/goa-v1
          persist-credentials: false
      - uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}
      - run: |
          go version
          echo "::set-env name=GO111MODULE::on"
          echo "::set-env name=GOPATH::${{ github.workspace }}"
          echo "::add-path::${{ github.workspace }}/bin"
      - run: make depend
        working-directory: src/github.com/shogo82148/goa-v1
      - run: make test
        working-directory: src/github.com/shogo82148/goa-v1
