name: test
on: [push, pull_request]

jobs:
  test:
    strategy:
      matrix:
        os:
          - "ubuntu-latest"
          - "windows-latest"
          - "macos-latest"
        go:
          - "1"
          - "1.15"
          - "1.14"
          - "1.13"
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
        with:
          path: src/github.com/shogo82148/goa-v1
          persist-credentials: false
      - uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}
      - run: |
          go version
          echo "GO111MODULE=on" >> "$GITHUB_ENV"
          echo "GOPATH=${{ github.workspace }}" >> "$GITHUB_ENV"
          echo "${{ github.workspace }}/bin" >> "$GITHUB_PATH"
      - run: make depend
        working-directory: src/github.com/shogo82148/goa-v1
      - run: make test
        working-directory: src/github.com/shogo82148/goa-v1
